form {
  & input {
    background-color: $white;
    border: none;
    padding: $gutter-l;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
  }
  & label {
    margin-bottom: $gutter-xs;
    font-weight: bold;
  }
  & input::placeholder,
  & input::-ms-input-placeholder {
    color: $black;
    opacity: .4;
  }
}